.button {
  margin: auto auto;
  width: 90%;
  height:90%;
  border-radius: 12px;
  border: 3px outset #888;
  position: relative;
  color: #eee;
  text-transform: uppercase;
  letter-spacing: 4px;
  overflow: hidden;
  text-align: center;

  box-shadow: 0 0 10px rgb(0, 0, 0, 1);
  font-family: verdana;
  font-size: 12px;
  font-weight: bolder;
  text-decoration: none;
  background: linear-gradient(160deg, #666, #444);
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);

  transition: 0.2s;
}

.button:hover {
  border: 3px outset #999;
  color: #eee;
  background: linear-gradient(160deg, #666, #444);
  text-shadow: 0px 0px 4px #999;
  box-shadow:
    0 0 10px #999,
    0 0 40px #999,
    0 0 80px #999;
}

.active {
  border: 3px outset #ccc;
  color: #eee;
  background: linear-gradient(160deg, #666, #444);
  text-shadow: 0px 0px 4px #ccc;
  box-shadow:
    0 0 10px #fff,
    0 0 40px #fff,
    0 0 80px #fff;
}

.button.playing {
  border: 3px outset #e49c59;
  color: #c47d3a;
  background: linear-gradient(160deg, #666, #444);
  text-shadow: 0px 0px 4px #c47d3a;
  box-shadow:
    0 0 10px #c47d3a,
    0 0 40px #c47d3a,
    0 0 80px #c47d3a;
}

.label {
  position: absolute;
  font-size: 28px;
  user-select: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.label.small {
  font-size: 18px;
}
