.grid {
  display: grid;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(119.98304527949507deg, #476072, #2B2B2B);
}

.grid-rows-2 {
  grid-template-rows: 1fr 1fr;
}

.grid-rows-3 {
  grid-template-rows: 1fr 1fr 1fr;
}

.grid-rows-4 {
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.grid-rows-5 {
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.grid-rows-6 {
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-columns-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-columns-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-columns-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-columns-5 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-columns-6 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
